[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/favolotto -config /etc/favolotto/config.json
Restart=on-failure
RestartSec=30s
Type=simple

[Unit]
Description=Favolotto
